data/*
datasets/
raw_data/
processed_data/
checkpoints/
outputs/
results/
__pycache__/
.ipynb_checkpoints/
*.pth
*.pt
*.pkl
*.joblib
*.csv
*.xlsx
*.xls
*.opju
*.zip
*.7z
*.rar
*.log
!examples/demo_input.csv
!examples/demo_output.csv
!data/
!data/sample_10_percent.csv
!data/sample_10_percent.xlsx
!data/sample_10_percent_summary.csv
!released_model/
!released_model/PG-RKAN-FTT_best_model.pt
!released_model/PG-RKAN-FTT_preprocessor.joblib
!released_model/metrics/
!released_model/metrics/PG-RKAN-FTT_metrics_summary.csv
!released_model/metrics/PG-RKAN-FTT_metrics_summary.xlsx
